@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.main{
  background-color: #F9FBFB;
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  background-color: red;
  min-height: 100vh; /* Ensure container takes up at least the height of the viewport */
}

.footer {
  /* background-color: red; */ 
  border-top: 1px solid rgba(0, 0, 0, 0.164);
  position: fixed; /* Set position to fixed */
  bottom: 20px; /* Adjust bottom position as needed */
  left: 0; /* Align to center of the viewport */
   /* Center horizontally */
   bottom: 0;
   right: 0;
   margin: auto;
  display: flex;
  justify-content: space-between;
  width: 400px; /* Adjust width as needed */
  z-index: 100; /* Ensure the footer appears above other content */
}